{% extends "base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'deps/css/my_footer_css.css' %}">
{% endblock %}

{% block modal_cart %}
	{% include "includes/cart_button.html" %}
{% endblock %}

{% block content %}
    <div class="mt-5 pt-5 bg-white custom-shadow rounded">
        <h2 class="m-2"><strong>Доставка и оплата</strong></h2>
        <p class="m-2">
            В {{ name }} мы делаем всё, чтобы ваши покупки были удобными и приятными. Мы предлагаем стандартную доставку (3-7 рабочих дней) бесплатно для заказов свыше 100$, а также экспресс-доставку (1-3 рабочих дня) за 10$. Вы также можете воспользоваться самовывозом на следующий день после оформления заказа по адресу {{ adress }}. После отправки вы получите номер для отслеживания вашего заказа.
<br>Мы принимаем оплату банковскими картами (Visa, MasterCard, Мир), электронными кошельками (Яндекс.Деньги, QIWI, WebMoney) и через онлайн-банкинг (Сбербанк Онлайн, Альфа-Банк, Тинькоффб Беларусбанк). Возможна оплата при получении (наложенный платеж) в некоторых регионах. Все платежи защищены современными методами шифрования, и ваши данные остаются конфиденциальными.
<br>Вы можете вернуть или обменять товар в течение 14 дней с момента получения заказа. По вопросам доставки и оплаты, пожалуйста, свяжитесь с нашей службой поддержки по {{ email }}.
<h2 class="m-2"><strong>Спасибо, что выбираете {{ name }}! Приятных покупок!</strong></h2>
    </div>
{% endblock %}

{% block footer %}
    <footer class="py-4 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Yaroslav's Production 2023</p>
        </div>
    </footer>
{% endblock %}
