{% extends "base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'deps/css/my_footer_css.css' %}">
{% endblock %}

{% block modal_cart %}
	{% include "includes/cart_button.html" %}
{% endblock %}


{% block content %}
    <div class="mt-5 pt-5 bg-white custom-shadow rounded">
        <h2 class="m-2"><strong>О нас</strong></h2>
        <p class="m-2"> Добро пожаловать в {{ name }} — ваш источник модной и качественной одежды!
        <h2 class="m-2"><strong>Наша история</strong></h2>
        <p class="m-2"> {{ name }} был основан в 2023 с одной простой миссией: предложить нашим клиентам стильную, удобную и доступную одежду для всех случаев жизни. Мы начали как небольшой бутик и со временем выросли в полноценный интернет-магазин, сохранив при этом наше внимание к деталям и любовь к моде.
        <h2 class="m-2"><strong>Что мы предлагаем</strong></h2>
        <p class="m-2">
        Наш ассортимент включает: <br>
        Женская одежда: от элегантных вечерних платьев до повседневных джинсов и футболок.<br>
        Мужская одежда: от классических костюмов до спортивных костюмов и повседневной одежды.<br>
        Аксессуары: стильные сумки, ремни, украшения и многое другое.<br>
        Мы тщательно отбираем каждый товар, чтобы обеспечить высокое качество и соответствие последним модным тенденциям. Наши коллекции обновляются регулярно, поэтому вы всегда найдете что-то новое и интересное.
        <br><br>
        Наша философия<br>
        Мы верим, что мода должна быть доступной для всех. Наша цель — помочь вам выразить свою индивидуальность через одежду, которую вы носите. Мы стремимся к тому, чтобы каждый клиент чувствовал себя уверенно и стильно, независимо от своего возраста, стиля или бюджета.
        <br><br>
        <h2 class="m-2"><strong>Спасибо, что выбираете {{ name }}. <br>Мы ценим ваше доверие и надеемся, что вы найдете у нас именно то, что искали.</strong></h2>
    </div>
{% endblock %}

{% block footer %}
    <footer class="py-4 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Yaroslav's Production 2023</p>
        </div>
    </footer>
{% endblock %}